.photo-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.media-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 1rem;
}

.media {
    max-width: 80%;
    max-height: 60vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.photo-nav-button {
    background-color: #6600cc;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 50%;
    transition: background-color 0.3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.photo-nav-button:hover {
    background-color: #9933ff;
}

.photo-nav-button.prev {
    left: -2rem;
}

.photo-nav-button.next {
    right: -2rem;
}

.polaroid {
    position: relative;
    background: white;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    text-align: center;
    font-family: 'Arial', sans-serif;
    border: 10px solid white;
    width: 80%;
    max-width: 600px;
}

.caption {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #333;
}

.back-button {
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    background-color: #6600cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.back-button:hover {
    background-color: #9933ff;
    transform: translateY(-3px);
}
